@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(253, 29, 83);
    background: linear-gradient(0deg, rgba(253, 29, 83, 1) 27%, rgba(249, 249, 249, 1) 79%);
    font-family: 'Open Sans', sans-serif;
}

table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 5.5em;
    table-layout: fixed;
    position: relative;
}

th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 2.6em;
    text-align: left;
    word-wrap: break-word;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.5em 0.5em;
    word-wrap: break-word;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #014055;
}

.d-flex {
    padding-left: 70%;
}


/*Fondo admin.php*/

body {
    background: -webkit-gradient(linear, left top, left bottom, from(coral), to(rebeccapurple));
    background: linear-gradient(coral, rebeccapurple);
    background-attachment: fixed;
}

.grid {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-perspective: 600px;
    perspective: 600px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 20px;
    max-width: 480px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.grid div {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px;
    color: transparent;
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}

.grid div:nth-child(odd) {
    -webkit-animation: 1000ms ease-in-out infinite alternate pulse;
    animation: 1000ms ease-in-out infinite alternate pulse;
}

.grid div:nth-child(even) {
    -webkit-animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
    animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
}

.tabla-filtro {
    padding-left: 6.5%;
}

.outlinenone {
    border: 1px solid #DBE1EB;
    font-size: 12px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}

.outlinenone:focus {
    color: #2E3133;
    border-color: #FBFFAD;
}

.paginacion {
    position: absolute;
    bottom: 20px;
    left: 50px;
    margin-left: 40px;
}

.form {
    padding-left: 6%;
}

@-webkit-keyframes pulse {
    to {
        -webkit-transform: translate3d(0px, 0px, -60px);
        transform: translate3d(0px, 0px, -60px);
        box-shadow: 15px 15px 20px -20px rgba(0, 0, 0, 0.8);
    }
}

@keyframes pulse {
    to {
        -webkit-transform: translate3d(0px, 0px, -60px);
        transform: translate3d(0px, 0px, -60px);
        box-shadow: 15px 15px 20px -20px rgba(0, 0, 0, 0.8);
    }
}

.paddingl {
    padding-left: 5.5%;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}